#main form{
	padding: 56px 0 0 74px;
	width: 385px;
	height:475px;
	font-size: 12px;
	line-height: 40px;
	color: #999;
}
#main form input{
	width:275px;
	padding-left: 43px;
}
#main form #zhanghao{
	background: url(../images/zhanghao_03.jpg)no-repeat left center;
}
#main form #mima{
	background: url(../images/mima_03.jpg)no-repeat left center;
}
#zidong{
	height: 12px;
	width: 12px!important;
}
#sb{
	height:38px;
	width: 320px!important;
	padding: 0!important;
	background:#661166;
	border: 0;
	color: white;
}
#main form p{
	position: static;
}
#main form p .wangji{
	float: right;
	margin-right: 30px;
}
